@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");
body {
  max-width: 1440px;
  color: #664b30;
  font-family: "Zen Maru Gothic", serif;
}

h2 {
  text-align: center;
  font-size: 28px;
}

.main__button {
  width: 100%;
  max-width: 385px;
  height: 40px;
  margin: 25px auto 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  background-color: #664b30;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  position: relative;
}

@media screen and (min-width: 1024px) {
  header {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 0;
  }
}

header img {
  display: block;
  max-width: 140px;
}

@media screen and (min-width: 1024px) {
  header img {
    max-width: 250px;
  }
}

header .sp-navi {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  header .sp-navi {
    display: none;
  }
}

header .sp-navi ul {
  display: flex;
  font-size: 12px;
  list-style: none;
  padding-left: 0px;
}

header .sp-navi ul li {
  margin-left: 8px;
}

header .sp-navi #header__button {
  width: 60px;
  height: 40px;
  margin-left: 10px;
  background-color: #be8f68;
  color: #fff;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

header #sp-menu {
  display: none;
}

header #sp-menu.active {
  animation: slideIn 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #664b30;
  color: #fff;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}

header #sp-menu.active ul {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 150px;
  list-style: none;
  padding-left: 0;
  margin: 80px 0;
  text-align: center;
}

header #sp-menu.active button {
  width: 85%;
  height: 40px;
  border-radius: 10%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
}

header #sp-menu.active button + button {
  margin-top: 20px;
  border: 1px solid #fff;
  background-color: #664b30;
  color: #ffffff;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

header .pc-navi {
  display: none;
}

@media screen and (min-width: 1024px) {
  header .pc-navi {
    display: block;
    margin-top: 10px;
    font-size: 20px;
  }
  header .pc-navi ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
  }
  header .pc-navi ul li + li {
    padding-left: 20px;
  }
}

.mv {
  padding: 20px 0;
  background-color: #fdede4;
}

@media screen and (min-width: 1024px) {
  .mv {
    padding: 40px 0;
  }
}

.mv .img {
  position: relative;
}

.mv .img::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .mv .img {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.mv .mv__text {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  font-size: 28px;
}

@media screen and (min-width: 1024px) {
  .mv .mv__text {
    font-size: 40px;
    padding-top: 0;
  }
}

.topics {
  padding: 25px;
}

.topics ul {
  width: 90%;
  padding-left: 0px;
  margin: 0 auto;
  list-style: none;
}

.topics ul li {
  padding-bottom: 20px;
  border-bottom: 1px solid #fcdcca;
}

.topics ul li .topic__info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.topics ul li .topic__info .topic__info__date {
  font-size: 11px;
}

.topics ul li .topic__info .topic__info__category {
  border: 1px solid #664b30;
  margin-left: 10px;
  padding: 2px;
  font-size: 12px;
}

.topics ul li .topic__title {
  margin-top: 5px;
}

.column {
  background-color: #fdede4;
  padding: 25px;
}

.column .column-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 25px;
}

.column .column-item .column-item__thumbnail {
  order: 1;
}

.column .column-item .column-item__thumbnail img {
  border-radius: 25px 25px 0 0;
}

.column .column-item .column-item__text {
  order: 2;
  margin: 20px;
  padding-bottom: 30px;
  font-size: 16px;
  display: inline-block;
}

.column .column-item ul {
  order: 3;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-left: 20px;
  list-style: none;
  color: #be8f68;
}

.column .column-item ul li {
  position: relative;
  padding: 0 10px;
  margin-bottom: 5px;
}

.column .column-item ul li::before {
  content: "#";
  display: block;
  position: absolute;
  left: 0;
}

.pickup {
  padding: 25px;
}

.pickup .swiper {
  margin-top: 25px;
  position: relative;
}

.pickup .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.pickup .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickup .swiper .swiper-wrapper .swiper-slide img {
  border-radius: 5%;
}

.pickup .swiper .swiper-button-prev,
.pickup .swiper .swiper-button-next {
  background-color: #664b30;
  height: calc(30px / 2 * tan(60deg));
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.pickup .swiper .swiper-button-prev {
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.pickup .swiper .swiper-button-next {
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

footer {
  padding: 25px 30px 10px 30px;
  margin-top: 25px;
  background-color: #664b30;
  color: #fff;
  position: relative;
}

footer .footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer__wrapper .footer__memu ul {
  list-style: none;
  padding-left: 0;
}

footer .footer__wrapper .footer__memu ul li {
  margin: 10px;
  font-size: 18px;
}

footer .footer__wrapper .footer__memu ul .shops li {
  position: relative;
  font-size: 14px;
  margin-left: 30px;
}

footer .footer__wrapper .footer__memu ul .shops li::before {
  content: "-";
  position: absolute;
  display: block;
  left: -10px;
}

footer .footer__wrapper .contact {
  font-size: 14px;
}

footer .footer__wrapper .contact .contact__map {
  max-width: 200px;
}

footer .pageup-button {
  position: fixed;
  width: 65px;
  right: 20px;
  bottom: 20px;
  z-index: 98;
}

footer .copyright {
  margin-top: 25px;
  text-align: center;
}
