@import "stylesheets/_mq.scss";

@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");

@import "stylesheets/_header.scss";
@import "stylesheets/_mv.scss";
@import "stylesheets/_topics.scss";
@import "stylesheets/_column.scss";
@import "stylesheets/_pickup.scss";
@import "stylesheets/_footer.scss";

// 全体
body {
  width: 100vw;
  color: #664b30;
  line-height: 1.5;
  font-family: "Zen Maru Gothic", serif;
}

h2 {
  text-align: center;
  font-size: 28px;

  @include mq() {
    font-size: 40px;
  }
}

.main__button {
  width: 100%;
  max-width: 385px;
  height: 40px;
  margin: 25px auto 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  background-color: #664b30;
  color: #fff;

  @include mq() {
    margin-top: 40px;
  }
}
