.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  background-color: #fdede4;
  position: relative;
  z-index: -1;

  @include mq() {
    padding: 40px;
  }

  .column__flex-container {
    @include mq() {
      display: flex;
      width: 80%;
      margin: 0 auto;
    }

    .column__item {
      @include mq() {
        width: 100%;
      }

      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin-top: 25px;
      border-radius: 25px;

      .column__item__thumbnail {
        order: 1;

        img {
          border-radius: 25px 25px 0 0;
        }
      }

      .column__item__text {
        order: 2;
        margin: 20px;
        padding-bottom: 30px;
        font-size: 16px;
        display: inline-block;

        @include mq() {
          padding-bottom: 0px;
          font-size: 18px;
        }
      }

      ul {
        order: 3;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding-left: 20px;
        list-style: none;
        color: #be8f68;

        li {
          position: relative;
          padding: 0 10px;
          margin-bottom: 5px;

          &::before {
            content: "#";
            display: block;
            position: absolute;
            left: 0;
          }

          @include mq() {
            font-size: 18px;
          }
        }
      }
    }

    .column__item + .column__item {
      @include mq() {
        margin-left: 50px;
      }
    }
  }
}
